//COLORS
$primary-color: #058283;
$secondary-color: #CCE3DE;
$third-color: #0E272D;
$contact-navbar-color: #21333E;
$section-bg-color: #EEF4ED;
$gray-text: #9FA3AC;

// HEIGHT
$contact-navbar-height: 50px;