@use "../styles/partials/variables" as *;
@import "bootstrap/scss/bootstrap.scss";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  padding: unset;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $primary-color;
  }
}

.ms-container {
  width: 70%;
  margin: 0 auto;
}

.primary-btn {
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

.secondary-btn {
  color: white;
  text-transform: uppercase;
  border-color: $primary-color;
  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }
}

section {
  padding: 5rem 0;
  h6 {
    color: $primary-color;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 700;
    font-size: 3rem;
    margin: 1.5rem 0;
  }
  p {
    color: $gray-text;
  }
  .special-span {
    padding: 0.2rem;
  }
  .form-control:focus,
  .form-select:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 0.25rem rgba($color: $primary-color, $alpha: 0.2);
  }
}
